# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml

# Android
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore

# Misc
.DS_Store
*.log
